.container-l{
    margin: 15vh auto 0;
}

.form-l{
    height: 350px !important;
}

.header-l{
    border: 1px solid black;
}

.footer-l{
    display: flex;
    flex-direction: column;
}

.linha-ou{
    margin-bottom: 5px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.linha{
    position: relative;
    top: 7px;
    width: 100%;
    border-bottom: .5px solid gray;
}

.ou{
    position: relative;
    display: flex;
    align-items: center;
    top: -5px;
    width: 20px;
}

.ou span {
    background-color: #fff;
    padding: 0 2px;
    color: gray;
}

.btn-clean {
    border: none;
    background-color: #0000;
}

.btn-clean:hover {
    color: rgb(0, 0, 153);
    cursor: pointer;
}

