body {
    overflow: hidden;

}

.container-pets {
    display: flex;

    width: 80%;
    /* ou qualquer outra porcentagem desejada */
    height: 80vh;
    /* 50% da altura da viewport */
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 10px;
    border-radius: 10px;
    flex: 1;
    flex-direction: column;
    /* Para que os cards quebrem para a próxima linha quando não houver espaço suficiente */
    background-color: #F6F3F3;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.card-group {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;

    overflow-x: hidden;

}

#green {
    position: absolute;
    top: 10%;
    z-index: -1;

    left: 100%;
    transform: translate(-50%, -50%);
}

#pink {
    width: 15vw;
    position: absolute;
    top: 98%;
    left: 96%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#yellow {
    position: absolute;
    z-index: -1;

    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
}

#black {
    z-index: -1;

    position: absolute;
    top: 105%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.Filter {
    margin-left: auto;
    margin-right: auto;

}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    border-radius: 50px;
    width: 170px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #000;
}