body {
    overflow: hidden;

}

.bodyHome {
    background-image: url('../../../public//images/ajudaPetBCK.jpeg');
}


.container-pets {
    display: flex;

    width: 80%;
    /* ou qualquer outra porcentagem desejada */
    height: 80vh;
    /* 50% da altura da viewport */
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 10px;
    border-radius: 10px;

    /* Para que os cards quebrem para a próxima linha quando não houver espaço suficiente */
    background-color: rgba(146, 146, 146, 0.3);
}



.card-group {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    /* Permite que os cards sejam dispostos em múltiplas linhas */
    justify-content: space-between;
    /* Espaçamento igual entre os cards */
    max-width: calc(100% - 20px);
    /* Ajusta a largura máxima do container */
    overflow-x: hidden;

}




.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 160px;
}

#green {
    position: absolute;
    top: 10%;
    z-index: -1;

    left: 100%;
    transform: translate(-50%, -50%);
}

#pink {
    width: 15vw;
    position: absolute;
    top: 98%;
    left: 96%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#yellow {
    position: absolute;
    z-index: -1;

    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
}

#black {
    z-index: -1;

    position: absolute;
    top: 105%;
    left: 0%;
    transform: translate(-50%, -50%);
}