.sidebar {
    width: 100px;
    position: fixed;
    margin-top: 150px;
    left: 0;
    height: 80%;
    background-color: #f8f6f6;
    padding-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px !important;
}

.sub-sidebar {
    width: 200px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.circle.home {
    background-color: rgb(33, 47, 63);
    color: white;
}

.circle:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.buttonDiv {
    cursor: pointer;
}

.sidebar a,
.sidebar .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    color: inherit;
    /* Herda a cor do texto */
    margin-bottom: 15px;
    /* Espaçamento entre os itens */
}

.circle {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8cb7f0;
    padding:10px;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.sidebar .item {
    cursor: pointer;
}

.mb-10 {
    margin-bottom: 50px !important;
}