/* Destalhes das paginas */
#green1 {
    position: absolute; 
    top: 10%; 
    left: 100%; 
    transform: translate(-50%, -50%); 
    z-index: -1;
}
#pink1 {
    width: 15vw;
    position: absolute; 
    top: 98%; 
    left: 96%; 
    transform: translate(-50%, -50%); 
    z-index: -1;
}

#yellow1 {
    position: absolute; 
    top: 5%; 
    left: 0%; 
    transform: translate(-50%, -50%); 
    z-index: -1;
}
#black1 {
    position: absolute; 
    top: 105%; 
    left: 0%; 
    transform: translate(-50%, -50%); 
    z-index: -1;
    width: 50vw;
    max-width: 600px;
}


/* Responsive  */ 


/* Estilos específicos para telas menores que 600px de largura(mobile)*/
@media only screen and (max-width: 600px) {

    #green1 {
        width: 75%;
        top: 100%; 
        left: 20%;     
    }

    #pink1 {
        width: 200px;
        top: 200px; 
        left: -20px; 
    }
    
    #yellow1 {
        width: 50%;
        top: 80%; 
        left: 100%; 
    }
    #black1 {
        top: 0; 
        left: 80%; 
        transform: translate(-50%, -50%); 
        z-index: -1;
        width: 50%;
    }

    
}

/* Estilos específicos para telas maiores que 600px e menores que 1024px de largura */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    #green1 {
        max-width: 50vw;
    }
    
    #yellow1 {
        max-width: 70vw;
    }
    #black1 {
        max-width: 50vh;
    }



}


