* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    color: white !important;
    align-items: center;
    background-color: #212f3f;
}